{% extends 'base.html' %}
{% load static %}
{% block title %}Search{{ title }}{% endblock %}
{% block content %}
<section class="blog-post-area">
            <div class="container">
                <div class="row">
                    <div class="blog-post-area-style">
                        {% for post in posts %}
                            <div class="col-md-3">
                                <div class="single-post">
                                    {% if post.photo %}
                                        <img src="{{ post.photo.url }}" alt="{{ post.title }}" height="200">
                                    {% else %}
                                        <img src="https://picsum.photos/300/250" alt="{{ post.title }}">
                                    {% endif %}
                                    <h3><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h3>
                                    <h4><span>Posted By: <span class="author-name">{{ post.author }}</span></span>
                                    </h4>
                                    <p>{{ post.content|safe|truncatewords_html:20 }}</p>
                                    <h4><span>{{ post.created_at }}</span></h4>
                                </div>
                            </div>
                            {% empty %}
                            <p>No find results</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
                {% include 'inc/_paginator2.html' %}
        </section>
{% endblock %}