{% extends 'base.html' %}
{% load static %}
{% load sidebar %}
{% block title %}{{ post.title }}{% endblock %}
{% block content %}
    <section class="single-blog-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="border-top">
                        <div class="col-md-8">
                            <div class="blog-area">
                                <div class="blog-area-part">
                                    <h2>{{ post.title }}</h2>
                                    <div>
                                        {% if post.tags.exists %}
                                            <div class="tags">
                                                {% for tag in post.tags.all %}
                                                    <p><a href="{{ tag.get_absolute_url }}">{{ tag.title }} </a></p>
                                                {% endfor %}
                                            </div>
                                        {% endif %}

                                    </div>
                                    <div class="for-style">
                                        {% if post.photo %}
                                            <img src="{{ post.photo.url }}" alt="">
                                        {% else %}
                                            <img src="https://picsum.photos/300/250" alt="{{ post.title }}">
                                        {% endif %}
                                        <p>{{ post.content|safe }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            {% comment %}
                            <span>Category: <a
                                    href="{{ post.category.get_absolute_url }}">{{ post.category }}</a></span>
                            <div class="tags">
                                <p>Views: {{ post.views }}</p>
                            </div>
                            {% endcomment %}
                            {% get_search %}
                            {% get_popular %}
                            {% get_tags %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}